.statistics {
	padding: 0 1.5em 1.5em 1.5em;
	overflow: auto;
	flex-grow: 1;
}

.nav {
	display: flex;
	gap: 1.5em;
}

.history {
	margin: 1.5em auto;
	border-radius: 0.5em !important;
}

.container {
	padding: 1.5em;
}

.transfers {
	display: flex;
	gap: 1.5em;
}

.transfers p {
	display: flex;
	gap: 0.5em;
	align-items: center;
	padding-bottom: 0.5em;
	margin-left: 0.25em;
}

.transfers h4 {
	font-weight: 900 !important;
	margin-bottom: 1.5rem;
}

.lines {
	display: flex;
}

.progress {
	position: relative;
	right: 37px;
	top: 45px;
	margin-right: -75px;
	margin-bottom: 114px;
	width: 100px;
	height: 10px !important;
	border-radius: 0.5em;
	transform: rotate(-90deg);
}

.description {
	font-size: 0.9em;
	text-align: center;
}

.graphics {
	display: flex;
	gap: 2em;
}
